section
{
  background-color: #2C3E50;
}
.part-one{
  color: white;
  text-align: center;
}
.icon{
  padding: 10px;
  border: 1px white solid;
  border-radius: 100%;
}
.part-two{
  background-color: #1A252F;
  text-align: center;
  color: white;
}
